<!-- views/pages/insert.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
    <header>
        <% var data= {'page_active':'insert'}; %>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
          <form id="food_insert_form" class="form-horizontal" action="/insert" method="post">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-8"><h2>ฉันมีอาหารอยากมาแนะนำให้ทุกคนด้วยแหละ !!</h2></div>
            </div>
            <br><br>
            <div class="form-group">
              <label class="control-label col-sm-2">ชื่ออาหาร:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="food_name" placeholder="ชื่ออาหาร">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">ประเภท:</label>
              <div class="col-sm-5">
                <select class="form-control" name="food_type" id="food_type_selector">
                  <% for (var i = 0; i < food_type.length; i++) {%>
                    <option><%= food_type[i] %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="หรือเพิ่มอาหารประเภทอื่นๆ" id="add_food_type_input">
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-success" onclick='add_food_type()'>เพิ่ม</button>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">รสชาติ:</label>
              <div class="col-sm-5" id="taste_checklist">
                <% for (var i = 0; i < taste.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="taste" value="<%= taste[i] %>"><%= taste[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="หรือเพิ่มรสชาติอื่นๆ" id="add_taste_input">
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-success" onclick='add_taste()'>เพิ่ม</button>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">เนื้อสัตว์:</label>
              <div class="col-sm-5" id="meat_checklist">
                <% for (var i = 0; i < meat.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="meat" value="<%= meat[i] %>"><%= meat[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="หรือเพิ่มเนื้อสัตว์อื่นๆ" id="add_meat_input">
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-success" onclick='add_meat()'>เพิ่ม</button>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">ผัก:</label>
              <div class="col-sm-5" id="vegetable_checklist">
                <% for (var i = 0; i < vegetable.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="vegetable" value="<%= vegetable[i] %>"><%= vegetable[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="หรือเพิ่มผักอื่นๆ" id="add_vegetable_input">
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-success" onclick='add_vegetable()'>เพิ่ม</button>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">ส่วนผสมอื่นๆ:</label>
              <div class="col-sm-5" id="other_ingredients_checklist">
                <% for (var i = 0; i < other_ingredients.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="other_ingredients" value="<%= other_ingredients[i] %>"><%= other_ingredients[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="หรือเพิ่มส่วนผสมอื่นๆ" id="add_other_ingredients_input">
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-success" onclick='add_other_ingredients()'>เพิ่ม</button>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <button type="button" class="btn btn-primary btn-lg" onclick='getResult()'>แนะนำอาหารเลย !!</button>
              </div>
            </div>
          </form>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

<script>

function getResult(){
  var frm = document.getElementById("food_insert_form");
  frm.submit();
}
function add_food_type(){
  var food_type_input = document.getElementById("add_food_type_input");
  if(food_type_input.value != ""){
    var food_type_selector = document.getElementById("food_type_selector");
    var food_type_option = document.createElement("option");
    food_type_option.text = food_type_input.value;
    food_type_selector.add(food_type_option);
  }
  food_type_input.value = "";
}
function add_taste(){
  var taste_input = document.getElementById("add_taste_input");
  if(taste_input.value != ""){
    var taste_checklist = document.getElementById("taste_checklist");
    taste_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="taste" value="'+taste_input.value+'">'+taste_input.value+'</label>'
  }
  taste_input.value = "";
}
function add_meat(){
  var meat_input = document.getElementById("add_meat_input");
  if(meat_input.value != ""){
    var meat_checklist = document.getElementById("meat_checklist");
    meat_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="meat" value="'+meat_input.value+'">'+meat_input.value+'</label>'
  }
  meat_input.value = "";
}
function add_vegetable(){
  var vegetable_input = document.getElementById("add_vegetable_input");
  if(vegetable_input.value != ""){
    var vegetable_checklist = document.getElementById("vegetable_checklist");
    vegetable_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="vegetable" value="'+vegetable_input.value+'">'+vegetable_input.value+'</label>'
  }
  vegetable_input.value = "";
}
function add_other_ingredients(){
  var other_ingredients_input = document.getElementById("add_other_ingredients_input");
  if(other_ingredients_input.value != ""){
    var other_ingredients_checklist = document.getElementById("other_ingredients_checklist");
    other_ingredients_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="other_ingredients" value="'+other_ingredients_input.value+'">'+other_ingredients_input.value+'</label>'
  }
  other_ingredients_input.value = "";
}

</script>

</html>
