<!-- views/pages/insert.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
    <header>
        <% var data= {'page_active':'insert'}; %>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
          <form id="food_insert_form" class="form-horizontal" action="/food/insert/" method="post">
            <div class="row">
              <div class="col-sm-12"><h2>ฉันมีอาหารอยากมาแนะนำให้ทุกคนด้วยแหละ !!</h2></div>
            </div>
            <br><br>
            <div class="form-group">
              <label class="control-label col-sm-1">ชื่ออาหาร:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="food_name" placeholder="ชื่ออาหาร">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">ประเภท:</label>
              <div class="col-sm-6">
                <select class="form-control" name="food_type" id="food_type_selector">
                  <% for (var i = 0; i < food_type.length; i++) {%>
                    <option><%= food_type[i] %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="หรือเพิ่มอาหารประเภทอื่นๆ" id="add_food_type_input">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-success" onclick='add_food_type()'>เพิ่มประเภทอาหาร</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">รสชาติ:</label>
              <div class="col-sm-6" id="taste_checklist">
                <% for (var i = 0; i < taste.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="taste" value="<%= taste[i] %>"><%= taste[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="หรือเพิ่มรสชาติอื่นๆ" id="add_taste_input">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-success" onclick='add_taste()'>เพิ่มรสชาติ</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">เนื้อสัตว์:</label>
              <div class="col-sm-6" id="meat_checklist">
                <% for (var i = 0; i < meat.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="meat" value="<%= meat[i] %>"><%= meat[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="หรือเพิ่มเนื้อสัตว์อื่นๆ" id="add_meat_input">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-success" onclick='add_meat()'>เพิ่มเนื้อสัตว์</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">ผัก:</label>
              <div class="col-sm-6" id="vegetable_checklist">
                <% for (var i = 0; i < vegetable.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="vegetable" value="<%= vegetable[i] %>"><%= vegetable[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="หรือเพิ่มผักอื่นๆ" id="add_vegetable_input">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-success" onclick='add_vegetable()'>เพิ่มผัก</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">ส่วนผสมอื่นๆ:</label>
              <div class="col-sm-6" id="other_ingredients_checklist">
                <% for (var i = 0; i < other_ingredients.length; i++) {%>
                  <label class="checkbox-inline"><input type="checkbox" name="other_ingredients" value="<%= other_ingredients[i] %>"><%= other_ingredients[i] %></label>
                <% } %>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="หรือเพิ่มส่วนผสมอื่นๆ" id="add_other_ingredients_input">
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control" name="ingredient_type" id="ingredient_type_selector">
                      <% for (var i = 0; i < ingredient_type.length; i++) {%>
                        <option><%= ingredient_type[i] %></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-success" onclick='add_other_ingredients()'>เพิ่มส่วนผสม</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" placeholder="เพิ่มชนิดส่วนผสม" id="add_ingredient_type_input">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info btn-sm" onclick='add_ingredient_type()'>เพิ่มชนิดส่วนผสม</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">ร้าน:</label>
              <div class="col-sm-6">
                <select class="form-control" name="shop_title" id="shop_title_selector">
                  <% for (var i = 0; i < shop_title.length; i++) {%>
                    <option><%= shop_title[i] %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="หรือเพิ่มร้านค้าอื่นๆ" id="add_shop_title_input">
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control" name="shop_type" id="shop_type_selector">
                      <% for (var i = 0; i < shop_type.length; i++) {%>
                        <option><%= shop_type[i] %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="สถานที่ร้านค้า" id="add_shop_place_input">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-success" onclick='add_shop()'>เพิ่มร้านค้า</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" placeholder="เพิ่มประเภทร้านค้า" id="add_shop_type_input">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info btn-sm"  onclick='add_shop_type()'>เพิ่มประเภทร้านค้า</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">ราคา:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="price" placeholder="ราคา">
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-sm-1"></div>
              <div class="col-sm-8">
                <button type="button" class="btn btn-primary btn-lg" onclick='getResult()'>แนะนำอาหารเลย !!</button>
              </div>
            </div>
          </form>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

<script>

function getResult(){
  var frm = document.getElementById("food_insert_form");
  frm.submit();
}
function add_food_type(){
  var food_type_input = document.getElementById("add_food_type_input");
  if(food_type_input.value != ""){
    var food_type_selector = document.getElementById("food_type_selector");
    var food_type_option = document.createElement("option");
    food_type_option.text = food_type_input.value;
    food_type_selector.add(food_type_option);
  }
  food_type_input.value = "";
}
function add_taste(){
  var taste_input = document.getElementById("add_taste_input");
  if(taste_input.value != ""){
    var taste_checklist = document.getElementById("taste_checklist");
    taste_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="taste" value="'+taste_input.value+'">'+taste_input.value+'</label>';
    taste_input.value = "";
  }
}
function add_meat(){
  var meat_input = document.getElementById("add_meat_input");
  if(meat_input.value != ""){
    var obj = {"ingredient_name":meat_input.value,"ingredient_type":"เนื้อสัตว์"};
    ajax_post("/ingredients/insert/",obj,function(res_obj){
      if(res_obj.status == "success"){
        var meat_checklist = document.getElementById("meat_checklist");
        meat_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="meat" value="'+meat_input.value+'">'+meat_input.value+'</label>'
      }
      meat_input.value = "";
    });
  }
}
function add_vegetable(){
  var vegetable_input = document.getElementById("add_vegetable_input");
  if(vegetable_input.value != ""){
    var obj = {"ingredient_name":vegetable_input.value,"ingredient_type":"ผัก"};
    ajax_post("/ingredients/insert/",obj,function(res_obj){
      if(res_obj.status == "success"){
        var vegetable_checklist = document.getElementById("vegetable_checklist");
        vegetable_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="vegetable" value="'+vegetable_input.value+'">'+vegetable_input.value+'</label>'
      }
      vegetable_input.value = "";
    });
  }
}
function add_other_ingredients(){
  var other_ingredients_input = document.getElementById("add_other_ingredients_input");
  var ingredient_type = document.getElementById("ingredient_type_selector").value;
  if(other_ingredients_input.value != ""){
    var obj = {"ingredient_name":other_ingredients_input.value,"ingredient_type":ingredient_type};
    ajax_post("/ingredients/insert/",obj,function(res_obj){
      if(res_obj.status == "success"){
        var other_ingredients_checklist = document.getElementById("other_ingredients_checklist");
        other_ingredients_checklist.innerHTML += '<label class="checkbox-inline"><input type="checkbox" name="other_ingredients" value="'+other_ingredients_input.value+'">'+other_ingredients_input.value+'</label>'
      }
      other_ingredients_input.value = "";
    });
  }
}
function add_ingredient_type(){
  var ingredient_type_input = document.getElementById("add_ingredient_type_input");
  if(ingredient_type_input.value != ""){
    var ingredient_type_selector = document.getElementById("ingredient_type_selector");
    var option = document.createElement("option");
    option.text = ingredient_type_input.value;
    ingredient_type_selector.add(option);
  }
  ingredient_type_input.value = "";
}
function add_shop(){
  var shop_title_input = document.getElementById("add_shop_title_input");
  var shop_place_input = document.getElementById("add_shop_place_input");
  var shop_type = document.getElementById("shop_type_selector").value;
  if((shop_title_input.value != "") && (shop_place_input.value != "")){
    var obj = {"shop_title":shop_title_input.value,"shop_type":shop_type,"shop_place":shop_place_input.value};
    ajax_post("/shop/insert/",obj,function(res_obj){
      if(res_obj.status == "success"){
        var shop_title_selector = document.getElementById("shop_title_selector");
        var option = document.createElement("option");
        option.text = shop_title_input.value;
        shop_title_selector.add(option);
      }
      shop_title_input.value = "";
      shop_place_input.value = "";
    });
  }
}
function add_shop_type(){
  var shop_type_input = document.getElementById("add_shop_type_input");
  if(shop_type_input.value != ""){
    var shop_type_selector = document.getElementById("shop_type_selector");
    var option = document.createElement("option");
    option.text = shop_type_input.value;
    shop_type_selector.add(option);
  }
  shop_type_input.value = "";
}
function ajax_post(path,json_obj,doFunction){
  var port = 8080;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var response = JSON.parse(this.responseText); // retrieve response from server
      doFunction(response);
    }
  }
  xmlhttp.open("POST", "http://localhost:"+port+""+path, true);
  xmlhttp.setRequestHeader("Content-Type", "application/json");
  xmlhttp.send(JSON.stringify(json_obj));
}

</script>

</html>
